img 
{border-radius:100px 50px 100px 50px;}
h2 
{font-size: 18px;}
body
 {background-color:slateblue;
font-family:trebuchet MS;
color:lightBlue;
text-align: center;}
button{background-color: white;
font-size: 20px;
border-radius: 10px;
padding: 10px;
display: block;
text-align: center;
margin: 40px 80px 40px 80px;
color: slateblue;}